body {
	margin: 0px;
}

html {
    font-size: 16px;
}

body, html {
	background: lightgrey;
}

z-image {
	display: block;
	width: 100px;
	height: 100px;
	background-size: cover;
	animation: pop .6s;
}

input:focus {
    outline: none;
    background: rgba(255, 188, 0, 0.21) !important;
}

button:focus {
    outline: none;    
}