.sitemap-wrapper
	.sitemap-fs
		.head
			input.cat-search(placeholder="Search...")
		.pool
		.options
			a.create Create
			span ,
			a.delete Delete
	.sitemap-vp
		.vp
		.error Select an entity to view