.title {{ text.USER_SETTINGS }}
.desc-text {{ text.USER_SETTINGS_DESC }}
.input-line(class="{{ ZenX.user.modules.users.permissions.all || ZenX.user.modules.users.permissions.own['profile-image'] ? '' : 'disabled' }}")
	.field-name
		.img(style="background-image: url({{ ZenX.user.profileImage }})")
	.upload-file {{ text.CHANGE }}
		input(type="file", onchange="angular.element(this).scope().readFiles(event)")
.input-line(class="{{ ZenX.user.modules.users.permissions.all || ZenX.user.modules.users.permissions.own['first_name'] ? '' : 'disabled' }}")
	.field-name {{ text.FIRST_NAME }}
	input(type="text", ng-model="vp.data.first_name")
.input-line(class="{{ ZenX.user.modules.users.permissions.all || ZenX.user.modules.users.permissions.own['last_name'] ? '' : 'disabled' }}")
	.field-name {{ text.LAST_NAME }}
	input(type="text", ng-model="vp.data.last_name")
.input-line(class="{{ ZenX.user.modules.users.permissions.all || ZenX.user.modules.users.permissions.own['username'] ? '' : 'disabled' }}")
	.field-name {{ text.USERNAME }}
	input(type="text", ng-model="vp.data.username")
.input-line(class="{{ ZenX.user.modules.users.permissions.all || ZenX.user.modules.users.permissions.own['email'] ? '' : 'disabled' }}")
	.field-name {{ text.EMAIL }}
	input(type="text", ng-model="vp.data.email")
.input-line(class="{{ ZenX.user.modules.users.permissions.all || ZenX.user.modules.users.permissions.own['password'] ? '' : 'disabled' }}")
	.field-name {{ text.PASSWORD_CHANGE }}
	input(type="password", ng-model="vp.data.password")
div(style="text-align: right; margin:20px 15px 0px 0px;")
	button.md-primary.md-button.md-default-theme(aria-label="yes", ng-disabled="vp.noChanges", ng-click="saveUserSettings()") {{ text.SAVE_CHANGES }}