.nav
	.tab.ani02(ng-click="getSettings('user')")
		span.ani02 {{ text.USER }}
	.tab-menu.ani02(onclick="$(this).addClass('open')")
		span {{ text.MODULE_SETTINGS }}
		.tab(ng-repeat="(key,value) in ZenX.modules", data-module-ns="{{ key }}", onclick="angular.element(this).scope().getSettings.call(this, 0, true)")
			span {{ ZenX.modules[key].text.MODULE_NAME }}
	.tab.ani02(ng-click="getSettings('about')")
		span.ani02 {{ text.ABOUT }}
.viewport
	.vp-empty="{{ text.SETTINGS_EMPTY }}"