base(href="/")
meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", name="viewport")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="title", content="ZenX Platform")
meta(name="description", content="Content and system management.")
meta(property="og:image", content="/images/logolight.png")
meta(property="og:site_name", content="ZenX Platform")
meta(property="og:url", content="/")
meta(property="og:title", content="ZenX Platform")
meta(property="og:type", content="website")
meta(property="og:locale", content="en_US")
meta(property="og:description", content="Content and system management.")
title ZenX Platform
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300&subset=greek-ext,latin', rel='stylesheet', type='text/css')
link(href="source/styles.css?v=7",	rel="stylesheet",	type="text/css")
script!="window._zenx_data=" + JSON.stringify(clientData)
script(src="https://apis.google.com/js/platform.js", async, defer)
script(src="source/app.js?v=8")
link(rel="shortcut icon",	href="/images/logolight.png")
script(src='https://www.google.com/recaptcha/api.js?onload=rccb&render=explicit&hl=el', async, defer)
if config.fbauth
	meta(property="fb:admins", content=config.fbadmins)
	meta(property="fb:app_id", content=config.fbappid)
	script (function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) {return;};js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));