//- Login frame containing oauth buttons
.login-frame.ani04.unborn(ng-controller="login")
	.login-cred-wrapper
		.logo-wrapper
			z-image.logo(z-animation="pop", src="/images/logolightsmall.png")
		form(name="login")
			input.ani01(required, name="username", ng-model="formDara.username", placeholder="Username")
			input.ani01(required, name="password", ng-model="formDara.password", type="password", placeholder="Password")
			button.login-btn.ani01(type="submit") Login
	//- Oauth button list
	if config.fbauth
		button.fb-login-btn.unborn.ani01
			span Login with 
			b Facebook